{% extends 'base-main.html' %}
{% load static %}

{% block title %}Recomendaciones{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col s12">Recomendaciones</h1>
        {{ query_tips }}


                {% if item.icon == 'water'
%}

                {% for item in query_tips %}
                
                
                <h3>
                    <i class="fa-solid fa-droplet"></i>
                    <span>{{ item.icon}}</span>
                    {{ item.title }}</h3>
                <p>{{ item.text }}</p>
        
            {% endfor %}

            
    </div>
</div>

{% endblock %}